body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: lightgrey;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.content{
    width: 325px;
    background-color:whitesmoke;
    border-radius:8px;
    box-shadow: 0px 3px 10px;
    margin:20px;
}
h2{
    text-align: center;
}
#input{
    padding: 8px 75px;
    margin-left:7px;
    border: 2px solid;
    border-radius: 5px;
}
#addbtn{
    padding: 8px;
    border: 2px solid;
    border-radius: 4px;
    cursor:pointer;
    margin-left: 6px;
    background-color:lightgreen;
    border:none;
}
#addbtn:hover{
    background-color:green;
}
.task-btn {
  padding:4px;
  border:none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 12px;
}

/* Specific button styles */
.edit-btn {
  background-color: #ffc107; /* yellow */
  color: #000;
}
.edit-btn:hover{
 background-color: yellow;
}
.delete-btn {
  background-color: #dc3545; /* red */
  color: #fff;
}
.delete-btn:hover{
    background-color: darkred;
}

.save-btn {
  background-color: #28a745; /* green */
  color: #fff;
}

#input {
  text-align: left !important;
  padding-left: 8px;
}
